body {
    margin: 0 10%;
    background-color: #a4fbff52;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;;
}

img {
    width: 350px;
    height: 350px;
}

.small-avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    float: left;
    margin-right: 10px;
}

.content {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 20px;
}


.profile img {
    float: left;
    margin-right: 200px;
    border-radius: 180px;
}

.profile-info {
    display: inline-block;
}


/*Chat messages styles*/
.message {
    border-bottom: 1px solid gray;
    display: flex;
    flex-flow: column;
}

.message-author, .message-created {
    display: inline-block;
}

.message-author {
    float: left;
    font-weight: bold;
}

.message-created {
    float: right;
    color: #bbbbbb;
}


/*Form styles*/
.message-form,
.login-form,
.signup-form,
.password-change-form,
.password-reset-form {
    box-shadow: 4px 4px 10px 5px #c0d8ea;
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}


form li, form p {
    display: flex;
    flex-flow: column;
}


.message-form input[type=submit],
.login-form input[type=submit],
.signup-form input[type=submit],
.password-change-form input[type=submit],
.password-reset-form input[type=submit] {
    padding: 10px 20px;
    border-radius: 7px;
    margin: 0 15% 5%;
    cursor: pointer;
}


.message-form label,
.login-form label,
.signup-form label,
.password-change-form label,
.password-reset-form label {
    display: block;
    padding: 5px 0;
}

.message-form input,
.login-form input,
textarea,
.signup-form input,
.password-change-form input,
.password-reset-form input {
    margin-bottom: 10px;
    background-color: #c0d8ea;
    border: 0;
    padding: 6px 10px;
}

textarea {
    height: 20px;
}

.login-heading,
.signup-heading,
.password-change-heading,
.password-reset-heading {
}

.help-text {
    font-size: 20px;
    font-weight: bold;
}

.helptext {
    color: #bbbbbb;
}

form li {
    list-style-type: none;
}

form .errorlist {
    color: #901112;
}


/*Navigation bar styles*/
.nav {
    background-color: #151b25;
    padding: 20px;
}

.nav a {
    line-height: 25px;
    color: white;
}

.login-logout-reg-nav {
    float: right;
    text-align: right;
}

.login-logout-reg-nav a {
    border: 1px solid white;
    padding: 7px 10px 5px;
    border-radius: 7px;

}


/*Info messages styles*/
.info-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.success-info {
    background-color: #99dabc;
}

.error-info {
    background-color: #d77070;
}
